<div class="box-appointment">
  <div class="box-appointment__list">
    <div class="box-appointment__item active">
      <div class="box-appointment__title">STYLE</div>
      <div class="box-appointment__address">STYLE 1, 45MIN</div>
    </div>
    <div class="box-appointment__item active">
      <div class="box-appointment__title">WHEN</div>
      <div class="box-appointment__address">WEDNESDAY, JULY 8TH, 2016 10:00AM</div>
    </div>
    <div class="box-appointment__item active">
      <div class="box-appointment__title">WHERE</div>
      <div class="box-appointment__address">15 EURIMBLA AVENUE,RANDWICK, NSW, 2031</div>
    </div>
  </div>
</div>
