<div class="box-product-sale">
  <div class="box-product-sale__list">
    <div class="box-product-sale_item">
      <div class="box-product-sale__image">
        <a href=""><img src="images/image-demo/image1.png" alt=""></a>
      </div>
      <h2 class="box-product-sale__title">BLOW DRYS</h2>
      <div class="box-product-sale__content">
        <div class="box-product-sale__from">
          <div class="text">from</div>
          <div class="number">$55</div>
        </div>
      </div>
    </div>
    <div class="box-product-sale_item">
      <div class="box-product-sale__image">
        <a href=""><img src="images/image-demo/image2.png" alt=""></a>
      </div>
      <h2 class="box-product-sale__title">BLOW DRYS</h2>
      <div class="box-product-sale__content">
        <div class="box-product-sale__from">
          <div class="text">from</div>
          <div class="number">$55</div>
        </div>
      </div>
    </div>
    <div class="box-product-sale_item">
      <div class="box-product-sale__image">
        <a href=""><img src="images/image-demo/image3.png" alt=""></a>
      </div>
      <h2 class="box-product-sale__title">BLOW DRYS</h2>
      <div class="box-product-sale__content">
        <div class="box-product-sale__from">
          <div class="text">from</div>
          <div class="number">$55</div>
        </div>
      </div>
    </div>
    <div class="box-product-sale_item">
      <div class="box-product-sale__image">
        <a href=""><img src="images/image-demo/image4.png" alt=""></a>
      </div>
      <h2 class="box-product-sale__title">BLOW DRYS</h2>
      <div class="box-product-sale__content">
        <div class="box-product-sale__from">
          <div class="text">from</div>
          <div class="number">$55</div>
        </div>
      </div>
    </div>

  </div>
</div>
