<div class="box-product-sale">
  <div class="box-product-sale__list">
    <div class="box-product-sale_item active">
      <div class="box-product-sale__image">
        <img src="images/image-demo/image1.png" alt="">
      </div>
      <div class="box-product-sale__content">
        <h2 class="box-product-sale__title">BLOW DRYS</h2>
        <div class="box-product-sale__description">
          CURRENTLY AVAILABLE IN THE EASTERN SUBURBS
        </div>
        <div class="box-product-sale__from">
          <div class="text">from</div>
          <div class="number">$55</div>
        </div>
      </div>
    </div>
    <div class="box-product-sale_item">
      <div class="box-product-sale__image">
        <img src="images/image-demo/image2.png" alt="">
      </div>
      <div class="box-product-sale__content">
        <h2 class="box-product-sale__title">MAKE UP</h2>
        <div class="box-product-sale__description">
          COMING SOON
        </div>
      </div>
    </div>
    <div class="box-product-sale_item">
      <div class="box-product-sale__image">
        <img src="images/image-demo/image3.png" alt="">
      </div>
      <div class="box-product-sale__content">
        <h2 class="box-product-sale__title">NAILS</h2>
        <div class="box-product-sale__description">
          COMING SOON
        </div>
      </div>
    </div>
    <div class="box-product-sale_item">
      <div class="box-product-sale__image">
        <img src="images/image-demo/image4.png" alt="">
      </div>
      <div class="box-product-sale__content">
        <h2 class="box-product-sale__title">SPRAY TAN</h2>
        <div class="box-product-sale__description">
          COMING SOON
        </div>
      </div>
    </div>
  </div>
</div>
