<div class="box-cta">
  <div class="container">
    <div class="box-cta-book">
      <div class="box-cta-book__content">
      BOOK NOW & GET <span class="cl-yellow">$10 OFF </span>YOUR FIRST APPOINTMENT. USE PROMO CODE <span class="cl-red">FIRSTLOVE</span> AT THE CHECKOUT.
      </div>
      <a href="#" class="botton">BOOK NOW</a>
    </div>
  </div>
</div>
