<div class="box-upcoming">
  <h2 class="box-upcoming__title">UPCOMING APPOINTMENTS</h2>
  <div class="box-upcoming__list">
    <div class="box-upcoming__item active">
      <div class="box-upcoming__date">July 8th, 10:00am </div>
      <div class="box-upcoming__style">Style 1</div>
      <div class="box-upcoming__address">15  Eurimbla Ave, Randwick, 2031</div>
    </div>
    <div class="box-upcoming__item">
      <div class="box-upcoming__date">July 8th, 10:00am </div>
      <div class="box-upcoming__style">Style 2</div>
      <div class="box-upcoming__address">15  Eurimbla Ave, Randwick, 2031</div>
    </div>
    <div class="box-upcoming__item">
      <div class="box-upcoming__date">July 8th, 10:00am </div>
      <div class="box-upcoming__style">Style 3</div>
      <div class="box-upcoming__address">15  Eurimbla Ave, Randwick, 2031</div>
    </div>
  </div>
</div>
