<div class="box-service">
  <h2 class="box-service__title">GET GLOSSED IN FOUR EASY STEPS</h2>
  <ul class="box-service_list">
    <li class="box-service__item">
      <div class="box-service__item__image">
        <img src="images/image-demo/Icon-1.png" alt="">
      </div>
      <h3 class="box-service__item__title">USE OUR GLOSS MENU TO INSPIRE YOU</h3>
    </li>
    <li class="box-service__item">
      <div class="box-service__item__image">
        <img src="images/image-demo/Icon-2.png" alt="">
      </div>
      <h3 class="box-service__item__title">BOOK AN APPOINTMENT THAT WORKS FOR YOU</h3>
    </li>
    <li class="box-service__item">
      <div class="box-service__item__image">
        <img src="images/image-demo/Icon-3.png" alt="">
      </div>
      <h3 class="box-service__item__title">A TOP BEAUTY STYLIST WILL ARRIVE AT YOUR LOCATION</h3>
    </li>
    <li class="box-service__item">
      <div class="box-service__item__image">
        <img src="images/image-demo/Icon-4.png" alt="">
      </div>
      <h3 class="box-service__item__title">GET A FABULOUS JOB DONE AT YOUR CONVENIENCE</h3>
    </li>
  </ul>

  <div class="scrol-bottom cl-white">
    <div class="text">GLOSS CARTEL SERVICES</div>
    <a href="#animate-1">img</a>
  </div>
</div>
