<div class="box-cta">
  <div class="container">
    <div class="box-cta-book">
      <div class="box-cta-book__content">
      REGISTER YOUR INTEREST NOW AND<br> RECEIVE <span class="cl-yellow">$10 OFF </span> YOUR FIRST APPOINTMENT AT LAUNCH
      </div>
      <a href="#" class="button">REGISTER NOW</a>
    </div>
  </div>
</div>
