<form novalidate="novalidate" class="box-from-contact" method="post" action="">
  <div class="box-from-contact__mail-address">
      <input type="email" placeholder="Email Address" class="input" size="40" value="" name="your-email">
  </div>
  <div class="box-from-contact__name">
      <input type="text" placeholder="Name" class="input" size="40" value="" name="your-name">
  </div>
  <div class="box-from-contact__subject">
     <input type="text" placeholder="Subject" class="input" size="40" value="" name="your-subject">
  </div>
  <div class="box-from-contact__message">
    <div class="lable-message">Message</div>
    <textarea placeholder="Type your message here." aria-invalid="false" class="" rows="10" cols="40" name="your-message"></textarea>
  </div>
  <div class="box-from-contact__button">
    <input type="submit" class="button wpcf7-submit" value="Send">
  </div>
</form>
