
<div class="box-product-sale_item active">
  <div class="box-product-sale__image">
    <img src="{{pathimg}}" alt="">
  </div>
  <div class="box-product-sale__content">
    <h2 class="box-product-sale__title">{{title}}</h2>
    <div class="box-product-sale__description">
      CURRENTLY AVAILABLE IN THE EASTERN SUBURBS
    </div>
    <div class="box-product-sale__from">
      <div class="text">from</div>
      <div class="number">$55</div>
    </div>
  </div>
</div>
