
<div class="container">

  <button type="button" class="button-default"> READ MORE </button>

  <a href="#" class="button-default">READ MORE</a>

  <a class="blue-light" href="#"> link text all page </a>
  <a class="purple-light" href="#"> link text all page </a>
  <a class="green-light" href="#"> link text all page </a>
  <a class="orange-light" href="#"> link text all page </a>
</div>
