<div class="box-feature">
  <div class="box-feature__iamge">
    <img src="images/image-demo/banner.png" alt="">
  </div>
  <div class="box-feature__heightline">
    <h3 class="box-feature__heightline__top">A BLOW DRY IN THE COMFORT OF</h3>
    <h2 class="box-feature__heightline__bottom">YOUR OWN HOME?</h2>
  </div>
  <div class="scrol-bottom cl-grey">
    <div class="text">FIND OUT HOW</div>
    <a href="#animate-1">img</a>
  </div>
</div>
