
<footer id="animate-1" class="footer-wrapper ">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-item">
        <div class="box-footer-menu">
          <ul class="menu-footer">
            <li><a class="active" href="#">CONTACT</a> </li>
            <li><a href="#">FAQ</a> </li>
            <li><a href="#">PRIVACY</a> </li>
            <li><a href="#">TERMS</a> </li>
          </ul>
        </div>
        <div class="buttom-footer">
          <a href="#" class="btn btn_yello">WE’RE HIRING</a>
        </div>
      </div>

      <div class="footer-item">
        <div class="block-copyright">
          <div class="copyright-content">GLOSS CARTEL PTY LTD 2016. ALL RIGHTS RESERVED.</div>
        </div>
        <div class="box-social">
          <div class="box-social__list">
            <div class="box-social__item">
                <a href=""><span class="icon-facebook2"></span></a>
            </div>
            <div class="box-social__item">
                <a href=""><span class="icon-twitter"></span></a>
            </div>
            <div class="box-social__item">
                <a href=""><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
