
<div class="box-form-login">
  <h2 class="box-form-login__title">log in</h2>
  <form name="loginform" id="loginform" action="" method="post">

    <div class="form-text">
      <input type="text" placeholder="Email Address" name="log" id="user_login" class="input" value="" size="20">
    </div>

    <div class="form-pass">
      <input type="password" placeholder="password" name="pwd" id="user_pass" class="input" value="" size="20">
    </div>

    <div class="form-submit">
      <input type="submit" name="wp-submit" id="wp-submit" class="button botton button-primary button-large" value="Log In">
    </div>

    <div class="box-form-login__forgot">
      <a href="lostpassword">Forgot your password?</a>
    </div>
  </form>
</div>
