
<div class="box-form-login box-form-login--postcode ">
  <form name="loginform" id="loginform" action="" method="post">
    <div class="masseger">
      <p>PLEASE ENTER YOUR</p>
    </div>
    <div class="form-text">
      <input type="text" placeholder="POST CODE" name="log" id="user_login" class="input" value="" size="20">
    </div>
  </form>
</div>
