
<div class="box-form-login box-form-login-no-sevice">
  <form name="loginform" id="loginform" action="" method="post">
    <div class="masseger">
      <p>Apologies we currently do not service your location. </p>
      <p>Please enter your email below & we will contact you as soon as we launch in your area.</p>
    </div>
    <div class="text-hieghtlight">
       the <a href="">GLOSS  CARTEL</a> term
      </div>
    <div class="form-text">
      <input type="text" placeholder="Email Address" name="log" id="user_login" class="input" value="" size="20">
    </div>
    <div class="form-submit">
      <input type="submit" name="wp-submit" id="wp-submit" class="button botton button-primary button-large" value="SUBMIT">
    </div>
  </form>
</div>
