
<form novalidate="novalidate" class="box-from-sign-up" method="post" action="">
  <h2 class="form-title">SIGN UP</h2>
  <div class="box-from-contact__first-name">
      <input type="text" placeholder="First Name" class="input" size="40" value="" name="your-name">
  </div>
  <div class="box-from-sign-up__last-name">
      <input type="text" placeholder="Last Name" class="input" size="40" value="" name="your-name">
  </div>
  <div class="box-from-sign-up__mail-address">
      <input type="email" placeholder="Email Address" class="input" size="40" value="" name="your-email">
  </div>
  <div class="box-from-sign-up__address">
      <input type="text" placeholder="Address" class="input" size="40" value="" name="your-name">
  </div>
  <div class="box-from-sign-up__button">
    <input type="submit" class="botton wpcf7-submit" value="SIGN UP">
  </div>
</form>
