
    <div class="header-content">
      <div class="site-logo">
        <img class="site-logo__image" src="images/GC-Logo.png" alt="log ymca">
      </div>
      <nav id="main-navigation">
        <div class="menu-icon">
          <i class="fa fa-bars"></i>Navigation
        </div>
        <div class="main-nav">
          <ul class="nav">
            <li>
              <a class="active" href="#">GLOSS MENU</a>
              <ul class="nav-drop">
                    <li class="nav-main-item  menu-item menu-item-type-taxonomy menu-item-object-service_product menu-item-177">
                <a class="nav-main-link" href="http://glosscartel.com/service_product/blow_drys/">Blow Drys</a>
                </li>
                    <li class="nav-main-item  menu-item menu-item-type-taxonomy menu-item-object-service_product menu-item-178">
                <a class="nav-main-link" href="http://glosscartel.com/service_product/makeup/">Make Up</a>
                </li>
                    <li class="nav-main-item  menu-item menu-item-type-taxonomy menu-item-object-service_product menu-item-179">
                <a class="nav-main-link" href="http://glosscartel.com/service_product/nails/">Nails</a>
                </li>
                    <li class="nav-main-item  menu-item menu-item-type-taxonomy menu-item-object-service_product menu-item-180">
                <a class="nav-main-link" href="http://glosscartel.com/service_product/spray_tan/">Spray Tan</a>
                </li>
                </ul>
            </li>
            <li><a href="#">PACKAGES</a> </li>
            <li><a href="#">LOGIN</a> </li>
            <li><a href="#">BOOK</a> </li>
          </ul>
        </div>
      </nav>
    </div>

