
    <div class="header-content">
      <div class="site-logo">
        <img class="site-logo__image" src="images/GC-Logo.png" alt="log ymca">
      </div>
      <nav id="main-navigation">
        <div class="menu-icon">
          <i class="fa fa-bars"></i>Navigation
        </div>
        <div class="main-nav">
          <ul class="nav">
            <li><a class="active" href="#">GLOSS MENU</a> </li>
            <li><a href="#">PACKAGES</a> </li>
            <li><a href="#">LOGIN</a> </li>
            <li><a href="#">BOOK</a> </li>
          </ul>
        </div>
      </nav>
    </div>

