
      <div class="header-content">
        <div class="branding">
          <div class="site-logo">
                          <a href="http://localhost/ffw-project-wp-geekpolist/gloss-cartel">
                <img alt="Gloss Cortel" class="site-logo__image" src="http://localhost/ffw-project-wp-geekpolist/gloss-cartel/wp-content/themes/wfly-theme/images/logo.png">
              </a>
                      </div>
          <p class="site-title hidden">
            <a href="http://localhost/ffw-project-wp-geekpolist/gloss-cartel" rel="home">Gloss Cortel</a>
          </p>
        </div>

                <nav id="main-navigation">
  <div class="menu-icon">
    <i class="fa fa-bars"></i>Navigation
  </div>
  <div class="main-nav">
    <ul class="nav">
        <li class="nav-main-item popup-login menu-item menu-item-type-custom menu-item-object-custom menu-item-206">
  <a class="nav-main-link cboxElement" href="#popup-regiter">popup login</a>
  </li>
  <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-190">
  <a class="nav-main-link" href="http://localhost/ffw-project-wp-geekpolist/gloss-cartel/were-hiring/">We're hiring</a>
  </li>
    </ul>
  </div>
</nav>
              </div>

