<div class="box-menu-myaccount">
  <ul class="menu-myaccount">
    <li><a href="">GRETCHEN</a>
      <ul>
        <li><a href="">LOG OUT</a></li>
        <li><a href="">MY ACCOUNT</a></li>
      </ul>
    </li>
  </ul>
  <div class="picture-user"><img src="images/myaccount.png"></div>
</div>
