{% extends "includes/layout.twig" %}

{% block header %}
  {% include "components/header.twig" %}
{% endblock %}

{% block content %}
  <div class="page-contnt-wrappre">
    {% include "components/box-blow-dry.twig" %}
  </div>
{% endblock %}

{% block footer %}
 {% include "components/footer.twig" %}
{% endblock %}
