{% extends "includes/layout.twig" %}

{% block header %}
  {% include "components/header.twig" %}
{% endblock %}

{% block content %}
  <div class="page-contnt-wrappre">
    <div class="box-product-sale">
      <div class="box-product-sale__list">
        {% include "components/box-blow-dry.twig" with {'pathimg': 'images/image-demo/image1.png', 'title': 'hunght'} %}
        {% include "components/box-blow-dry.twig" with {'pathimg': 'images/image-demo/image1.png'} %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
 {% include "components/footer.twig" %}
{% endblock %}
