{% set body_class = 'sign-up-page confim-components' %}
{% extends "includes/layout.twig" %}

{% block header %}
  {% include "components/header.twig" %}
  {% include "components/menu-myaccount.twig" %}
{% endblock %}
{% block feature_banner %}
  {% include "components/box-bg-img.twig" %}
{% endblock %}

{% block content %}
  <div class="main-appointment">
    <h2 class="box-title">CHANGE/CANCEL  APPOINTMENT</h2>
    <div class="main-appointment__content">
      <div class="appointment__content__item">{% include "components/appointment.twig" %}</div>
      <div class="appointment__content__item">
        <div class="appointment__cancel"><a class="botton" href="">CANCEL</a></div>
        <div class="appointment__reschedule"><a class="botton" href="">RESCHEDULE</a></div>
      </div>
    </div>
   </div>
   <div class="box-popup">
     <div class="box-popup-content">
       <p>Are you sure you want to cancel this appointment?</p>
       <div class="box-popup-botton"><a class="botton" href="">yes</a></div>
     </div>
   </div>
{% endblock %}

{% block footer %}
 {% include "components/footer.twig" %}
{% endblock %}
