{% extends "includes/layout-sendemail.twig" %}
{% block content %}
  <div class="email-confirm-warpper">
    <div class="mail-title">APPOINTMENT REMINDER</div>
    <div class="email-confirm-main">
      <div class="box-appointment">
      <div class="box-appointment__list">
        <div class="box-appointment__item active">
          <div class="box-appointment__title">JANE</div>
          <div class="box-appointment__image"><img src="images/picture.png" alt=""></div>
        </div>
        <div class="box-appointment__item active">
          <div class="box-appointment__title">FROM THE GLOSS CARTEL TEAM WILL BE WITH YOU TODAY AT</div>
          <div class="box-appointment__address">2:00PM</div>
        </div>
        <div class="box-appointment__item active">
          <div class="box-appointment__title">WHERE</div>
          <div class="box-appointment__address">15 EURIMBLA AVENUE, RANDWICK, NSW, 2031</div>
        </div>
      </div>
    </div>

      <a href="" class="button">CHANGE / CANCEL APPOINTMENT</a>
     </div>
   <div class="footer-email">
    <div class="logo">
      <img src="images/footer-eaml.png" alt="">
    </div>
  </div>
</div>
{% endblock %}
