{% extends "includes/layout-sendemail.twig" %}
{% block content %}
  <div class="email-confirm-warpper">
    <div class="mail-title">APPOINTMENT CANCELLED</div>
    <div class="email-confirm-main">
      <div class="box-appointment">
        <div class="box-appointment__list">
          <div class="box-appointment__item active">
            <div class="box-appointment__title">GRETCHEN MACKAY </div>
            <div class="box-appointment__address"> STYLE 1, 45MIN </div>
          </div>
          <div class="box-appointment__item active">
            <div class="box-appointment__title">WHEN</div>
            <div class="box-appointment__address">WEDNESDAY, JULY 8, 2016 2:00PM</div>
          </div>
          <div class="box-appointment__item active">
            <div class="box-appointment__title">WHERE</div>
            <div class="box-appointment__address">15 EURIMBLA AVENUE RANDWICK, NSW, 2031</div>
          </div>
        </div>
      </div>
    </div>
    <div class="heightline-red">SUCCESFULLY CANCELLED</div>
   <div class="footer-email">
    <div class="logo">
      <img src="images/footer-eaml.png" alt="">
    </div>
  </div>
</div>
{% endblock %}
