{% extends "includes/layout-sendemail.twig" %}
{% block content %}
  <div class="email-confirm-warpper">
    <div class="mail-title title-heightline-red ">GRETCHEN HOW WAS GETTING GLOSSED YESTERDAY?</div>
    <div class="email-confirm-main">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuda pharetra. Morbi semper nulla lectus, at tempor p faucibus ante sodales ac.</p>
      <p>tis, condimentum felis vitae, gravida ex. Duis at nibh suscipit, dignissim felis ut, egestas tortor. Aenean suscipit ultrices arcu, et dictum dui. Fusce et vehicula purus, eu semper leo.</p>
      <a href="" class="button">RATE OUR SERVICE</a>
    </div>

     <div class="footer-email">
      <div class="logo">
        <img src="images/footer-eaml.png" alt="">
      </div>
    </div>
  </div>
{% endblock %}
