{# components.twig #}
{% extends "includes/layout.twig" %}

{% block header %}
  {% include "components/header.twig" %}
{% endblock %}
{% block feature_banner %}
  {% include "components/feature-banner.twig" %}
{% endblock %}

{% block content_top %}
  {% include "components/box-service.twig" %}

{% endblock %}

{% block content %}
  {% include "components/block-product-sale.twig" %}
{% endblock %}

{% block content_bottom %}
    {% include "components/box-cta-book.twig" %}
  </div>
{% endblock %}


{% block footer %}
 {% include "components/footer.twig" %}
{% endblock %}
