{% extends "includes/layout.twig" %}

{% block header %}
  {% include "components/header.twig" %}
{% endblock %}

{% block content %}
  <div class="page-contnt-wrappre">
    <div class="container">
      <div class="page-title">
        <h1>PACKAGES</h1>
        <div class="sub-title">SHORT COMMENT LINE</div>
      </div>
      <div class="main-page-content">
        <div class="content-faq">
         <ul class="tab">
            <li>
              <a href="#" class="tablinks active" onclick="openCity(event, 'tab1')">BLOW DRYS</a>
            </li>
            <li>
              <a href="#" class="tablinks" onclick="openCity(event, 'tab12')">MAKE UP</a>
            </li>
            <li>
              <a href="#" class="tablinks" onclick="openCity(event, 'tab13')">NAILS</a>
            </li>
            <li>
              <a href="#" class="tablinks" onclick="openCity(event, 'tab14')">SPRAY AN</a>
            </li>
          </ul>

          <div id="tab1" class="tabcontent active">
            <h3>BLOW DRYS</h3>
             <button class="accordion icon-circle-down">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT?</button>
              <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida sit amet. Suspendisse aliquam quam sodales nisl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida.</p>
              </div>

              <button class="accordion icon-circle-down">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT?</button>
              <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus,</p>
              </div>

              <button class="accordion icon-circle-down">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT?</button>
              <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida sit amet. Suspendisse aliquam quam sodales nisl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida sit amet. Suspendisse aliquam quam sodales nisl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida.</p>
              </div>
              <button class="accordion icon-circle-down">LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT?</button>
              <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida sit amet. Suspendisse aliquam quam sodales nisl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida sit amet. Suspendisse aliquam quam sodales nisl Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida.</p>
              </div>
          </div>

          <div id="tab12" class="tabcontent">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
          </div>

          <div id="tab13" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
          </div>
          <div id="tab14" class="tabcontent">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{% block footer %}
 {% include "components/footer.twig" %}
{% endblock %}
