{% extends "includes/layout.twig" %}

{% block header %}
  {% include "components/header.twig" %}
{% endblock %}

{% block content %}
  <div class="page-contnt-wrappre">
    <div class="container">
      <div class="page-title">
        <h1>TERMS AND CONDITIONS</h1>
        <div class="sub-title">SHORT COMMENT LINE</div>
      </div>
      <div class="body-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis malesuada pharetra. Morbi semper nulla lectus, at tempor purus gravida sit amet. Suspendisse aliquam quam sodales nisl finibus lobortis. Nunc ligula odio, tincidunt sed viverra a, condimentum ut arcu. Duis lorem sem, elementum nec ligula sit amet, sodales porta sapien. Fusce ultrices libero a purus commodo pulvinar. Maecenas justo tortor, porttitor nec neque eu, egestas condimentum ipsum. Nulla facilisis elit ipsum, quis faucibus ante sodales ac. Morbi eu arcu lobortis, condimentum felis vitae, gravida ex. Duis at nibh suscipit, dignissim felis ut, egestas tortor. Aenean suscipit ultrices arcu, et dictum dui. Fusce et vehicula purus, eu semper leo. Nullam sed interdum ipsum.
</p><p>
Praesent tincidunt nibh ut purus fermentum, id volutpat urna finibus. Integer feugiat ac elit eu vulputate. In vel mauris lectus. Nam interdum enim lectus, sed pellentesque felis vestibulum non. Nunc pellentesque tellus dui, quis interdum ex tristique sit amet. Fusce at purus ligula. Donec suscipit posuere mollis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum venenatis mollis maximus. Ut bibendum maximus sagittis. Nullam iaculis pretium sapien. Integer tincidunt lorem sed venenatis dignissim. Sed molestie nisl in nunc ultricies, non facilisis lacus viverra. Aliquam suscipit metus id urna lobortis suscipit. Morbi eget mauris pretium, pellentesque elit non, rutrum arcu.

</p><p>
  Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vel ex quis velit lobortis sodales eu eu dolor. Nam in sem ut sapien gravida venenatis. Ut neque ipsum, malesuada in sollicitudin ut, scelerisque non augue. Etiam sed scelerisque metus. Duis quis sapien a mi placerat faucibus. Vivamus elit sem, tristique ac laoreet sit amet, auctor ac lectus. Sed nunc quam, commodo et placerat tempor, gravida at ipsum. Duis venenatis tempus turpis, eget viverra velit efficitur a. Maecenas suscipit ante id mauris gravida, id dignissim dui semper. Duis eleifend posuere ex non suscipit.

</p>

<p>
Curabitur hendrerit finibus porttitor. Pellentesque blandit quam ut pretium tempor. Phasellus vel leo dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse aliquam vulputate ante. Duis a fringilla sem, eu aliquam nulla. Etiam laoreet eu tellus ac euismod. Nam metus felis, lobortis a consectetur sit amet, iaculis ac diam. Vestibulum cursus lobortis enim, a condimentum tortor posuere ultricies.</p>
<p>
Donec lacinia suscipit ex, at tincidunt erat. Vivamus hendrerit tellus ut ipsum convallis volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi laoreet convallis nisi, id tincidunt purus scelerisque nec. Sed finibus, metus sed interdum mollis, libero nulla semper urna, id luctus mauris ante vel eros. Duis sit amet magna at nisl pellentesque sollicitudin vel et ligula. Cras nibh mauris, interdum sed erat in, tempus ultrices odio. Vestibulum non ultrices leo, in maximus dolor.</p>
</div>
    </div>
  </div>
{% endblock %}



{% block footer %}
 {% include "components/footer.twig" %}
{% endblock %}
