.box-product-sale {
  &__list {
    display: flex;
    flex-wrap: wrap;
    display:-webkit-flex;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    width: 100%;
    position: relative;

    @media screen and (min-width: 480px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) {
      width: 25%;
    }

    &:hover {
      a {
        &:before {
          background: rgba(0,0,0,0);
        }
      }
    }
  }

  &__image {
    line-height: 0;
    height: 100%;
    img {
      width: 100%;
      height: auto;
    }

    a {
      cursor: pointer;

      // &:before {
      //   content: "";
      //   top: 0;
      //   bottom: 0;
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   background: rgba(0,0,0,0.4);
      // }
    }
  }

  &__title {
  font-size: 25px;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 0;
  position: absolute;
  letter-spacing: 5px;
  word-spacing: 0px;
  text-transform: uppercase;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
  text-align: center;

    a {
      color: $white;
    }
  }

  &__description {
    font-size: 10.3px;
    color: white;
    font-family: 'BrandonGrotesqueMedium';
    margin: 0 auto 10px;
    max-width: 180px;
    letter-spacing: 2px;
  }

  &__content {
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 0;
    width: 100%;
    right: 0;
  }

  &__from {
    .text {
      font-size: 14px;
      font-family: 'BrandonGrotesqueMedium';
      text-transform: uppercase;
      margin-top: 15px;
      color: #ff4040;
    }

    .number {
      font-size: 70px;
      font-family: 'BrandonGrotesqueBold';
      line-height: 1;
      color: #fff;
    }
  }
}
