.box-service {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 50px;

  &_list {
      display: inline-block;
      width: 100%;
      padding: 0;
  }

  &__title {
    color: $yello;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 35px;
  }
  &_list {
    counter-reset: my-badass-counter;
    text-align: center;
  }

  &__item {
    list-style-type: none;
    width: 100%;
    position: relative;
    float: left;
    padding-top: 65px;
     @media screen and (min-width: 480px) {
      width: 50%;
    }

     @media screen and (min-width: 768px) {
      width: 25%;
    }

    &__title {
      font-size: 14px;
      color: $white;
      font-family: 'BrandonGrotesqueRegular';
      text-transform: uppercase;
      padding: 0 35px
    }

    &__image {
      min-height: 115px;
      margin-bottom: 10px;
    }

    &:before {
      font-family: 'BrandonGrotesqueBlack';
      list-style-type: decimal;
      position: absolute;
      width: 100%;
      height: 30px;
      content: counter(my-badass-counter) " . ";
      z-index: 9;
      counter-increment: my-badass-counter;
      color: wheat;
      text-align: center;
      left: 0;
      top: -10px;
      right: 0;
      color: white;
      font-size: 25px;
    }
  }
}
