.box-feature {
  position: relative;

  &__iamge {
    line-height: 0;
    img {
      width: 100%;
    }
  }

  &__heightline {
    position: absolute;
    top: auto;
    bottom: 50%;
    right: 50px;
    font-family: 'BrandonGrotesqueLight';

    @media screen and (max-width: 480px) {
      bottom: 120px;
    }

    @media screen and (min-width: 1200px) {
      top: 380px;
      bottom: auto;
    }

    &__top {
      color: $yello;
      font-size: 16px;
      margin: 0;
      @media screen and (min-width: 1200px) {
        font-size: 22.55px;
      }
    }

    &__bottom {
      color: $red;
      font-size: 25px;
      margin: 0;

      @media screen and (min-width: 1200px) {
        font-size: 41.87px;
      }
    }
  }

  .scrol-bottom {
    position: absolute;
    bottom: 54px;
    text-align: center;
    left: 0;
    right: 0;
    color: $grey;
    font-size: 14px;
    font-family: 'BrandonGrotesqueMedium';
    .text {
      margin-bottom: 5px;
      letter-spacing: 3px;
      word-spacing: 5px;
    }

    a {
      background-image: url("../images/image-demo/Arrow-copy.png");
      font-size: 0;
      width: 34px;
      height: 19px;
      color: transparent;
      display: inline-block;
    }
  }
}
