.box-feature {
  position: relative;

  &__iamge {
    line-height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    img {
      width: 100%;
      opacity: 0;
    }
  }

  &__heightline {
    position: absolute;
    top: auto;
    bottom: 50%;
    right: 50px;
    font-family: 'brandon_grotesquelight';
    max-width: 370px;
    transform: translateY(50%);
    -ms-transform: translateY(50%); /* IE 9 */
    -webkit-transform: translateY(50%); /* Chrome, Safari, Opera */


    @media screen and (max-width: 480px) {
      bottom: 120px;
    }

    @media screen and (min-width: 1200px) {
      // top: 380px;
      // bottom: auto;
    }

    &__top {
      color: #ff4040;
      font-size: 20px;
      margin: 0 0 15px;
      font-weight: normal;
      line-height: 50px;
      @media screen and (min-width: 1200px) {
        font-size: 55px;
      }
    }

    &__bottom {
      color: #404352;
      font-size: 25px;
      margin: 0 0 15px;
      font-weight: normal;
      text-align: center;
      position: relative;

      @media screen and (min-width: 1200px) {
        font-size: 35px;
      }

      &:after {
        content: "";
        height: 1px;
        width: 30px;
        position: absolute;
        z-index: 9;
        background: red;
        top: 50%;
        right: 0;
      }
      &:before {
        content: "";
        height: 1px;
        width: 30px;
        position: absolute;
        z-index: 9;
        background: red;
        top: 50%;
        left: 0;
      }
    }
  }

  .scrol-bottom {
    position: absolute;
    bottom: 54px;
    text-align: center;
    left: 0;
    right: 0;
    color: $grey;
    font-size: 14px;
    font-family: 'BrandonGrotesqueMedium';
    .text {
      margin-bottom: 5px;
      letter-spacing: 3px;
      word-spacing: 5px;
    }

    a {
      background-image: url("../images/image-demo/Arrow-copy.png");
      font-size: 0;
      width: 34px;
      height: 19px;
      color: transparent;
      display: inline-block;
    }
  }
}
