

.header-wrapper {
  position: absolute;
  top: 27px;
  width: 100%;
  z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.main-nav {
  font-family: 'BrandonGrotesqueRegular';
  font-weight: 700;
  font-size: 15px;

  ul {
    margin: 0;
    padding: 0;

    li {
      float: left;
      list-style: none;

      a {
        background: #beaa7c none repeat scroll 0 0;
        border-radius: 14px;
        color: #ffffff;
        display: block;
        font-size: 14px;
        line-height: 1;
        padding: 6px 14px 5px;
        text-transform: uppercase;
        vertical-align: middle;
        margin-left: 20px;
        text-shadow: none;
        &:hover {
          background: #ff4040;
        }
      }

      &:last-child {
        padding-right: 0;
      }
      ul.nav-drop {
        position: absolute;
        width: 200px;
        background: $red;
        display: none;
        padding: 10px 0;

        li {
          float: none;

          a {
            color: $white;
            &:hover {
              color: $grey;
            }
          }
        }
      }

      &:hover {
        ul.nav-drop {
          display: block;
        }
      }
    }
  }
}
.menu-icon {
  position: absolute;
  right: 20px;
  font-size: 0;
  color: transparent;

  i {
    font-size: 30px;
    color: #333;
  }
}
@media screen and (max-width: 768px) {
.main-nav {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  right: 0;
  background: $grey;
  display: none;

  ul {
    li {
      float: none;

      a {
        color: $white;
        border-bottom: 1px solid $gray-6975;

        &:hover {
          background: $yello;
        }
      }
    }
  }
  &.active {
    display: block;
  }
}


}
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;

  }
  .main-nav {
    display: block;
  }
}
