

.home .header-wrapper {
  position: absolute;
  top: 27px;
  width: 100%;
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  display:-webkit-flex;
  display: -webkit-flex; /* Safari */
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.main-nav {
  font-family: 'BrandonGrotesqueRegular';
  font-weight: 700;
  font-size: 15px;

  ul {
    margin: 0;
    padding: 0;

    li {
      float: left;
      list-style: none;

      a {
        background: #beaa7c none repeat scroll 0 0;
        border-radius: 14px;
        color: #ffffff;
        display: block;
        font-size: 14px;
        line-height: 1;
        padding: 6px 14px 5px;
        text-transform: uppercase;
        vertical-align: middle;
        margin-left: 20px;
        text-shadow: none;
        &:hover {
          background: #ff4040;
        }
      }

      &:last-child {
        padding-right: 0;
      }
      ul.nav-drop {
        position: absolute;
        width: 200px;
        background: $red;
        display: none;
        padding: 10px 0;

        li {
          float: none;

          a {
            color: $white;
            &:hover {
              color: $grey;
            }
          }
        }
      }

      &:hover {
        ul.nav-drop {
          display: block;
        }
      }
    }
  }
}

.menu-icon {
  position: absolute;
  font-size: 0;
  color: transparent;

  i {
    font-size: 30px;
    color: #333;
  }
}

@media screen and (max-width: 768px) {
.main-nav {
  position: absolute;
  width: 100%;
  top: 89px;
  left: 0;
  right: 0;
  display: none;
  background: rgba(255, 255, 255, 0.85);
  z-index: 9;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;

  ul {
    li {
      float: none;

      a {
        color: #404352;
        background: transparent;
        padding: 20px;
        font-size: 20px;

        &:hover {
          background: transparent;
        }
      }
    }
  }

  &.active {
    display: block;
  }
}


}
@media screen and (min-width: 769px) {
  .menu-icon {
    display: none;
  }

  .main-nav {
    display: block;
  }
}
