/* zip code color */
/* red */
$red : #ff4040;
$red1 : #8f805d;
/* yello */
$yello : #beaa7c;

/* blue */
$blue       : #0661ad;
$blue-dark  : #0889cd;
$blue-light : #00aeef;

/* Purple */
$purple       : #5c2e91;
$purple-dark  : #92278f;
$purple-light : #c6168d;

/* Green */
$green       : #006a6a;
$green-dark  : #00aa95;
$green-light : #26bcbd;

/* Orange */
$orange       : #dc5829;
$orange-dark  : #f37823;
$orange-light : #fbae1f;

/* gray */

$gray-a7: #a7a7a7;
$gray-77: #777777;
$gray-42: #424242;
$gray-6975: #666975;

/* white */

$white: #ffffff;

/* highlight */

$highlight-purple-dark : #5c2d8f;


$grey : #404352;
