{% extends "includes/layout.twig" %}
{% block content %}
 <div class="email-confirm-warpper">
   <div class="box-email">
     <h2 class="block-title">APPOINTMENT SCHEDULED</h2>
     <div class="box-email__list">
       <div class="box-email__item">
         <div class="box-email__title">GRETCHEN MACKAY </div>
         <div class="box-email__style">STYLE 1, 45MIN</div>
       </div>
     </div>
   </div>
 </div>
 {% include "components/appointment.twig" %}
{% endblock %}
